ion-content {
  --background: #fefcf6;
}

ion-button.no-border {
  --border-width: 0;
}

ion-icon.del {
  font-size: 1.8em;
}

h2, p.note {
  text-align: center;
}

.group {
  cursor: pointer;
  background-color: #fefffe;
  border: #c8e8fe 1px solid;
  margin: 1em 0;
  padding: 1em;
}

.group.disabled {
  cursor: auto;
  background-color: #f3f5f6;
  border-color: #e6e8e6;
}

ion-col.container {
  display: flex;
}
